body{
  background-color: aqua;
}

#container {
   width:1000px;
   /*margin:0 auto;*/
}
#left_col {
   float:left;
   width:400px;
   margin-left:5px;
   font-style: normal;
   font-size: 20px;
}
#right_col {
   float:right;
   width:450px;
   margin-left: 100px;
   font-style: normal;
   font-size: 20px;
}
